---
import { Icon } from "astro-icon/components";

interface Props {
  title?: string;
  link?: string;
  linkText?: string;
  describe?: string;
  icon: string;
}

const { title, link = "#", linkText, describe, icon } = Astro.props;
---

<div class="card bg-base-100 w-96 shadow-xl mx-auto my-4 relative group">
  <div class="card-body">
    <h2 class="card-title" set:html={title} />
    <Icon
      name={icon}
      class="w-16 h-16 text-bleAzul absolute left-4 bottom-4 group-hover:scale-125 transition-all duration-200"
    />
    <p>{describe}</p>
    <div class="card-actions justify-end">
      <a href={link} target="_blank" class="btn botonble">{linkText}</a>
    </div>
  </div>
</div>
<style>
  .botonble {
    @apply bg-bleAzul-claro text-bleBlanco hover:bg-bleColor-verde;
  }
</style>
